<%- include('../header') %>
<form action="/products/update/<%= products.id %>" method="post">
    <div class="form-floating mb-3">
        <input value="<%= products.product_name %>" type="text" class="form-control" id="floatingInput" name="product_name" required>
        <label for="floatingInput">Product Name</label>
    </div>
    <div class="form-floating mb-3">
        <input value="<%= products.category %>" type="text" class="form-control" id="floatingInput" name="category" required>
        <label for="floatingInput">Category</label>
    </div>
    <div class="form-floating mb-3">
        <input value="<%= products.status %>" type="text" class="form-control" id="floatingInput" name="status" required>
        <label for="floatingInput">Status</label>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-warning">Submit</button>
    </div>
</form>
<%- include('../footer') %>