<%- include('../header') %>
<div class="row text-center">
    <div class="col-12">
        <h3>All Defect </h3>
    </div>
    <div class="col-12 my-2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, eligendi? Quidem nobis architecto minima repudiandae deleniti beatae eaque accusantium nostrum ducimus odio. Ad excepturi sunt quo atque id, assumenda veniam!</p>
    </div>
    <div class="add">
        <a href="/defects/add" class="btn btn-outline-dark"><i class="fa-solid fa-square-plus"></i> Add Defect</a>
    </div>
    <div class ="col-12 my-2">
        <table class="table table-dark table-striped">
            <thead>
                <td>No</td>
                    <td>id</td>
                    <td>Defect</td>
                    <td>Type</td>
                    <td>Area</td>
                    <td>Suggestion</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% defects.forEach((defect,i) =>{%>
                <tr>
                    <th><%= i + 1 %></th>
                    <th><%= defect.id %></th>
                    <th><%= defect.defect_name %></th>
                    <th><%= defect.type %></th>
                    <th><%= defect.area %></th>
                    <th><%= defect.suggestion %></th>
                    <th>
                        <a href="/defects/delete/<%=defect.id%>" class="btn btn-danger"><i class="fa-solid fa-trash" style="color: #f5f6f9;"></i></a>
                        <a href="/defects/update/<%=defect.id%>" class="btn btn-warning"><i class="fa-solid fa-wrench" style="color: #8e2411;"></i></a>
                    </th>
                </tr>
                <% })%>
            </tbody>
        </table>
    </div>
</div>
<%- include('../footer') %>