<%- include('../header') %>
<div class="container">
<div class="row text-center">
    <div class="col-12">
        <h3>Defect List</h3>
        <form class="d-flex ms-auto" action=" " method="get" >
            <input
              id="searchquery"
              class="form-control me-2"
              type="text"
              name="keyword"
              placeholder="Search"
            />
            <button class="btn btn-outline-warning" type="submit">
              Search
            </button>
        </form>
    </div>
    <div class="col-12 my-2">
        <p>Nothing is perfect and so are your products. Here are the imperfections that your products could have.</p>
    </div>
    <div class="add">
        <a href="/defects/add" class="btn btn-outline-warning"><i class="fa-solid fa-square-plus"></i> Add Defect</a>
    </div>
    <div class ="col-12 my-2">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <td>Index</td>
                    <td>ID</td>
                    <td>Defect</td>
                    <td>Type</td>
                    <td>Area</td>
                    <td>Suggestion</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% defects.forEach((defect, i) =>{%>
                <tr>
                    <th><%= i + 1 %></th>
                    <th><%= defect.id %></th>
                    <th><%= defect.defect_name %></th>
                    <th><%= defect.type %></th>
                    <th><%= defect.area %></th>
                    <th>
                        <% if (defect.suggestion === null || defect.suggestion === '') { %>
                            N/A
                        <% } else { %>
                            <%= defect.suggestion %>
                        <% } %>  
                    </th>
                    <th>
                        <a href="/defects/delete/<%=defect.id%>" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        <a href="/defects/update/<%=defect.id%>" class="btn btn-warning">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </th>
                </tr>
                <% })%>
            </tbody>
        </table>
    </div>
</div>
</div>
<%- include('../footer') %>