<%- include('../header') %>
<form action="/productDefects/update/<%=productDefects.id%>" method="post">
    <div class="mb-3">
        <label  class="form-label">Product Code</label> 
        <select name="productId" class="form-control">
            <option value=""></option>
            <% productDefects.products.forEach((item)=> { %>
                <option value="<%=item.id%>"><%=item.product_name%></option>
                <% }); %>
            </select>
    </div>
    <div class="mb-3">
        <label  class="form-label">Defect Code</label>
        <select name="defectId" class="form-control">
            <option value=""></option>
            <% productDefects.defects.forEach((item)=> { %>
                <option value="<%=item.id%>"><%=item.defect_name%></option>
                <% }); %>
            </select>
    </div>
      <button type="submit" class="btn btn-warning">Submit</button>
</form>
<%- include('../footer') %>